<br>
<h3>Dear {{user.first_name}} {{user.last_name}} {{foo}},</h3>
<p>We recently received a request to reset the password to your account :  <b>{{user.email}}</b></p>
<p>To reset your password, click on this link (or copy and paste it into your browser) :  </p>
<a href='{{url}}'>{{url}}</a>